#banner-wrapper {
	overflow:hidden;
	width:100%;
	height:283px;
	position:relative;
	}

#banner {
	width:1600px;
	height:283px;
	margin-left:50%;
	left:-800px;
	position:relative;
	}

.slide {
	width:1600px;
	height:283px;
	position: absolute;
	display:none;
	}
	
.slide.active {z-index:100;}
.slide.next {z-index:0;}
.slide.active, .slide.next {display:block;}
.slide.one {background-image:url(/images/banner1.jpg);}
.slide.two {background-image:url(/images/banner2.jpg);}
.slide.three {background-image:url(/images/banner3.jpg);}
.slide.four {background-image:url(/images/banner4.jpg);}

#banner-thumbs {
	position: absolute;
	top: 170px;
	right: -63px;
	z-index:200;
	width: 800px;
	}
	
.thumb {
	margin:0px;
	width:74px;
	height:45px;
	display:inline !important;
	position:absolute;
	left:0;
	cursor:pointer;
	}
	
.thumb.active {cursor:default;}

#drawing {
	width: 952px;
	height: 283px;
	margin: 0 auto;
	}
	
svg, #drawing, #drawing div {z-index:175;}